<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-4">
      <h5>請修改你的支出</h5>
      <form method="POST" action="/expense/{{ record._id }}?_method=PUT" >
      <div class="row my-3">
        <label for="editName" class="col-sm-2 col-form-label">名稱：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="editName" name="name" value="{{ record.name }}" required>
        </div>
      </div>        
      <div class="row mb-3">
        <label for="editDate" class="col-sm-2 col-form-label">日期：</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="editDate" name="date" value="{{ record.simpleDate }}" required>
        </div>
      </div>      
      <div class="row mb-3">
        <label for="editCategorySelect" class="col-sm-2 col-form-label">類別：</label>
        <div class="col-sm-10">
          <select class="form-select" id="editCategorySelect" name="category" required> 
            <option value="{{ record.carId }}" selected>{{ record.catTitle }}</option>
            {{#each categories}}
            <option value="{{ this.id }}">{{ this.name }}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="editAmount" class="col-sm-2 col-form-label">金額：</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="editAmount" name="amount" min="0" value="{{ record.amount }}" required>
        </div>
      </div> 
      <div class="d-grid gap-2 col-6 mx-auto mt-4">
      <button type="submit" class="btn btn-success justify-content-center">送出</button>
      </div>
      </form>
    </div>
  </div>
</div>
