<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>類別</option>
        {{#each categories}}
        <option value="{{ this.id }}">{{ this.name }}</option>
        {{/each}}
      </select>
      </br>
      <div>
      <p class="mb-0" style="font-size: 20px">總金額：</p>  
      <p class="d-flex justify-content-end" style="color:#ff6600; font-weight:400; font-size:48px" id="totalAmount">
        {{ totalAmount }}
      </p>
      </div>
      <div>
        <ul class="list-group">
        {{#each userRecords}}
          <li class="list-group-item">
            <div class="row d-flex flex-nowrap align-items-center"> 
              <div class="col-2 d-flex justify-content-center">
                {{!-- category icon --}}
                <i style="color: Dodgerblue" class="{{ this.categoryIconClass }} fa-2xl"></i>
              </div>
              <div class="col-4">
                <h5>{{ this.name }}</h5>
                <small>{{ this.simpleDate }}</small>
              </div>
              <div class="col-4"> 
                <h5 style="text-align: right"> {{ this.amount }} </h5>
              </div>
              <div class="col-auto d-flex justify-content-end">
                <a href="./expense/{{ this._id }}/edit" style="color: black">
                  {{!-- edit icon --}}
                  <i class="fa-solid fa-pen-to-square fa-lg mx-2"></i>
                </a>
                <form method="POST" action="./expense/{{ this._id }}?_method=DELETE" style="display: inline;">
                  <button type="submit" style="border: none; background-color: transparent">
                    {{!-- delete icon --}}
                    <i class="fa-solid fa-trash-can fa-lg"></i>
                  </button>
                </form>
              </div>
            </div>  
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/expense/new" class="btn btn-warning" role="button">新增支出</a>
      </div>
    </div>
  </div>
</div>

